/* object_detction.css */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('obb.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.heading h1 {
    text-align: center;
    color: #f9f4f4;
    font-size: 32px;
    margin-bottom: 20px;
}

.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-div-home {
   
    width: 200px;
    height: 100px; /* Adjust height as needed */
    padding: 20px;
    margin: 50px;
    background-color: #193760;
    border-radius: 10px;
    text-align: center;
    padding: 20%;
    transition: all 0.3s ease; /* Smooth transition effect */
}

.sub-div-home:hover {
    transform: scale(1.05); /* Increase size on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add shadow on hover */
}

.sub-div-home a {
    text-decoration: none;
    color: #f3eeee;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

.sub-div-home a:hover {
    color: #4CAF50;
}